body {
    text-align: center;
    font-family: sans-serif;
    background-color: #f8f9fa;
    margin-top: 50px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0052FF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
